<!DOCTYPE html>
<html>
  <head>
    <%= tag.title Rails.application.class.name.titleize %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mt-5">
      <%= tag.h1 Rails.application.class.name.titleize %>
      <%= yield %>
    </div>
  </body>
</html>
